
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body {
        background-color: transparent;
        /*background-color: ##323352;*/
        /*background-image: url("images/firewatch_bg_night3.jpg") ;
        background-size: cover;
        background-repeat: no-repeat;*/
        /*background-color: #ffffff;*/
        margin: 0;
        padding: 0;
        overflow: hidden;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

#snapshot {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 10px;
    bottom: 150px;
    background: url("../images/camera.png") no-repeat top;
    background-size: 100%;
}

#snapshot:active {
    background: url("../images/camera_blue.png") no-repeat top;
}